<p>about works!</p>
<h3>Hello {{ name }}</h3>
<h3>Hello {{ age }}</h3>
<h3>Bạn có <span class="postCss">&nbsp;{{ posts?.length }}&nbsp;</span> tin nhắn </h3>
<button (click)="tangTuoi()">Tang Tuoi</button>
<h3>Bạn có <span class="badge">&nbsp;{{ posts?.length }}&nbsp;</span> tin nhắn </h3>

<br />
<!-- Comments:
<br />
<span>{{ comments | json}}</span>
<br />
Comments[0]:
<br />
<span *ngIf="comments">{{ comments[0] | json}}</span><br /> -->
Posts:


<br />

<table id="customers" style="border-collapse: collapse;">
    <tr>
        <th>
            ID
        </th>
        <th>
            Title
        </th>
        <th>
            Author
        </th>
    </tr>
    <tr *ngFor="let post of posts">
        <td>
            {{post.id}}
        </td>
        <td>
            {{post.title}}
        </td>
        <td>
            {{post.author}}
        </td>
    </tr>
</table>
<br />

<button (click)="addPost()">Add Post</button>
<span class="badge">&nbsp;{{ posts?.length }}&nbsp;</span>