<div>
    <button mat-raised-button color="primary" (click)="addStudent()">
        <mat-icon>add_box</mat-icon><span>Thêm</span>
    </button>
    <table id="customers" style="border-collapse: collapse;">
        <tr>
            <th></th>
            <th>Id</th>
            <th>Mã sinh viên<mat-icon style="cursor: pointer;" (click)="sortByCode('down')">arrow_downward</mat-icon>
                <mat-icon style="cursor: pointer;" (click)="sortByCode('up')">arrow_upward</mat-icon>
            </th>
            <th>Giới tính</th>
            <th>Tên</th>
            <th>Họ</th>
            <th>Email</th>
            <th>SĐT</th>
            <th>Hình</th>
        </tr>
        <tr *ngFor="let student of students">
            <td>
                <mat-icon style="cursor: pointer;" title="Nhấn vào để xóa" (click)="deleteStudent(student.id)">clear
                </mat-icon>
                &nbsp;
                <mat-icon style="cursor: pointer;" title="Nhấn vào để chỉnh sửa" (click)="editStudent(student.id)">edit
                </mat-icon>

            </td>
            <td>{{ student?.id }}</td>
            <td>{{ student?.code }}</td>
            <td>{{ student?.gender }}</td>
            <td>{{ student?.firstName }}</td>
            <td>{{ student?.lastName }}</td>
            <td>{{ student?.email }}</td>
            <td>{{ student?.phone }}</td>
            <td align="center"><img src="{{ student?.picture }}" alt="" height="50" *ngIf="student?.picture"></td>
        </tr>
    </table>
</div>